<main role="main" class="inner cover">
        <h1 class="cover-heading">Learn anytime, anywhere, at your own pace.</h1>
        <p class="lead">Watch lessons from hundreds of experts as they share their stories, skills, shortcuts, failures, and successes.</p>
        <p class="lead">
          <a href="/users/new" class="btn btn-lg btn-secondary">Get Started</a>
        </p>
</main>