<head>
  <link href="https://vjs.zencdn.net/7.8.4/video-js.css" rel="stylesheet" />

  <!-- If you'd like to support IE8 (for Video.js versions prior to v7) -->
  <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
</head>

<body>

  <h1>Lesson: <%= lesson.name %></h1>
  <p>Description: <%= lesson.description %></p>
  <p>Expert: <%= lesson.expert.name %></p>

  <% if lesson.lesson_video.attached? %>

  <video
    id="my-video"
    class="video-js"
    class="vjs-big-play-centered"
    controls
    preload="auto"
    width="640"
    height="360"
    poster="MY_VIDEO_POSTER.jpg"
    data-setup="{}"
  >
    <source src="<%= url_for(lesson.lesson_video) %>" type="video/mp4" />
    
  </video>

  <script src="https://vjs.zencdn.net/7.8.4/video.js"></script>
</body>

<% end %>